.gallery_bg1{
    width:100%;
    /*	height:200px;*/
    background:url(img/PC_1.gif);
    background-repeat: no-repeat;
    background-position: center top;
}

.gallery_bg2{
    width:100%;
    /*	height:200px;*/
    background:url(img/PC_2.gif);
    background-repeat: no-repeat;
    background-position: center top;
}

.gallery_bg3{
    width:100%;
    /*	height:200px;*/
    background:url(img/PC_3.gif);
    background-repeat: no-repeat;
    background-position: center top;
}

.gallery_bg4{
    width:100%;
    /*	height:200px;*/
    background:url(img/PC_4.gif);
    background-repeat: no-repeat;
    background-position: center top;
}
.gallery_bg2_1{
    width:100%;
    /*	height:200px;*/
    background:url(img/PC2_1.gif);
    background-repeat: no-repeat;
    background-position: center top;
}
.gallery_bg2_2{
    width:100%;
    /*	height:200px;*/
    background:url(img/PC2_2.gif);
    background-repeat: no-repeat;
    background-position: center top;
}
.gallery_bg2_3{
    width:100%;
    /*	height:200px;*/
    background:url(img/PC2_3.gif);
    background-repeat: no-repeat;
    background-position: center top;
}

body {
    background-color: #fff;
}