@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@media only all and (max-width:980px)
{ /* 화면 너비가 980px 이하일때만 아래 코드를 실행*/

.content{float:none;width:auto } /*너비자동*/
.nav{float:none;width:auto } /*너비자동*/
}


/* Scroll */
body { scrollbar-3dlight-color:#c5c5c5; 
          scrollbar-arrow-color:#FFFFFF; 
          scrollbar-base-color:#e5e5e5; 
          scrollbar-darkshadow-color:#FFFFFF; 
          scrollbar-face-color:#e5e5e5; 
          scrollbar-highlight-color:#FFFFFF; 
          scrollbar-shadow-color:#c5c5c5; 
   	  	  margin-left: 0px;
    	  margin-top: 0px;
	      margin-right: 0px;
 	      margin-bottom: 0px;
		  } 

#wrap{
	position: absolute;
	left: 0px; 
	top: 0px; 
	width: auto; 
	height: auto; 
	right: 0px; 
	bottom: 0px; 
	min-width: 0px;
}

#contents {
	width:980px;
	margin:0px;
	padding:0px;
}
.clearfix:after {	
	content:".";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}
.clreafix { display:inline-table;}


/* Input area*/

input { border: expression( (this.type=='checkbox'||this.type=='radio')?'':'1px solid #D3D3D3' ); font-size:9pt; color:#666666;}

.input {  font-size:11pt;
                    color:#666666;
                    padding-left:5; padding-right:5; padding-top:2; }


/*Text Type */


.copyright {font-family: arial; font-size: 13px; color: #898989; letter-spacing:-0.5px; line-height: 19px;}
a.copyright:link {font-size: 13px; color:#898989; text-decoration:none}

a.copyright:active {font-size: 13px; Color:#898989; text-decoration: none}

.t11_g {font-family: 'Nanum Gothic', sans-serif; font-size: 11px; color: #111111; letter-spacing:0px;}
a.t11_g:link {font-size: 11px; color:#111111; text-decoration:none}
a.t11_g:visited {font-size: 11px; color:#111111; text-decoration:none}
a.t11_g:hover {font-size: 11px; color:#111111; text-decoration: underline}
a.t11_g:active {font-size: 11px; Color:#111111; text-decoration: none}


.t11_m {font-family: 'Nanum Myeongjo', serif; font-size: 11px; color: #111111; letter-spacing:0px;}
a.t11_m:hover {font-size: 11px; color:#111111; text-decoration: underline}

.t12_g {font-family: 'Nanum Gothic', sans-serif; font-size: 12px; color: #111111; letter-spacing:0px;line-height: 18px;}
a.t12_g:hover {font-size: 12px; color:#111111; text-decoration: underline}
a.t12_g:link {font-size: 12px; color:#111111; text-decoration:none}
a.t12_g:visited {font-size: 12px; color:#111111; text-decoration:none}
a.t12_g:active {font-size: 12px; Color:#111111; text-decoration: none}

.t12_wg {font-family: 'Nanum Gothic', sans-serif; font-size: 12px; color: #ffffff; letter-spacing:0px;line-height: 18px;}

.t12_m {font-family: 'Nanum Myeongjo', serif; font-size: 12px; color: #111111; letter-spacing:0px;line-height: 18px;}
a.t12_m:hover {font-size: 12px; color:#111111; text-decoration: underline}

.t13_g {font-family: 'Nanum Gothic', sans-serif; font-size: 13px; color: #111111; letter-spacing:0px;line-height: 19px;}
a.t13_g:hover {font-size: 13px; color:#111111; text-decoration: underline}
a.t13_g:link {font-size: 13px; color:#111111; text-decoration:none}
a.t13_g:visited {font-size: 13px; color:#111111; text-decoration:none}
a.t13_g:active {font-size: 13px; Color:#111111; text-decoration: none}

.t13_m {font-family: 'Nanum Myeongjo', serif; font-size: 13px; color: #111111; letter-spacing:0px;}
a.t13_m:hover {font-size: 13px; color:#111111; text-decoration: underline}

.t14_g {font-family: 'Nanum Gothic', sans-serif; font-size: 14px; color: #111111; letter-spacing:0px;line-height: 22px;}
a.t14_g:hover {font-size: 14px; color:#111111; text-decoration: underline}
a.t14_g:link {font-size: 14px; color:#111111; text-decoration:none}
a.t14_g:visited {font-size: 14px; color:#111111; text-decoration:none}
a.t14_g:active {font-size: 14px; Color:#111111; text-decoration: none}


.t14_gb {font-family: arial; font-size: 14px; color: #111111; letter-spacing:0px;text-decoration:none; font-weight: bold; }
a.t14_gb:hover {font-size: 14px; color:#111111; text-decoration: underline; font-weight: bold; }
a.t14_gb:link {font-size: 14px; color:#111111; text-decoration:none; font-weight: bold; }
a.t14_gb:visited {font-size: 14px; color:#111111; text-decoration:none; font-weight: bold; }
a.t14_gb:active {font-size: 14px; Color:#111111; text-decoration: none; font-weight: bold; }


.t14_m {font-family: 'Nanum Myeongjo', serif; font-size: 14px; color: #111111; letter-spacing:0px;}
a.t14_m:hover {font-size: 14px; color:#111111; text-decoration: underline}

.t18_g {font-family: 'Nanum Gothic', sans-serif; font-size: 18px; color: #111111; letter-spacing:0px;line-height: 25px;}
a.t18_g:hover {font-size: 18px; color:#111111; text-decoration: underline}

.t20_r {font-family: 'Nanum Gothic', sans-serif; font-size: 20px; color: #d91e5e; letter-spacing:0px;line-height: 25px;text-decoration: blod}


.t18_m {font-family: 'Nanum Myeongjo', serif; font-size: 18px; color: #111111; letter-spacing:0px;line-height: 24px;}
a.t18_m:hover {font-size: 18px; color:#111111; text-decoration: underline}

.t24_g {font-family: 'Nanum Gothic', sans-serif; font-size: 24px; color: #111111; letter-spacing:0px;line-height: 24px;}
a.t24_g:hover {font-size: 24px; color:#111111; text-decoration: underline}

.t24_m {font-family: 'Nanum Myeongjo', serif; font-size: 24px; color: #111111; letter-spacing:0px;}
a.t24_m:hover {font-size: 24px; color:#111111; text-decoration: underline}



.t18_gu {font-family: 'Nanum Gothic', sans-serif; font-size: 18px; color: #111111; letter-spacing:0px;text-decoration: underline}
a.t18_gu:hover {font-size: 18px; color:#111111; text-decoration: underline}


.t150_g {font-family: 'Nanum Gothic', sans-serif; font-size: 150px; color: #111111; letter-spacing:0px;}

.t14_g- {font-family: 'Nanum Gothic', sans-serif; font-size: 14px; color: #111111; letter-spacing:-0.5px;line-height: 22px;}

.t10_g {font-family: 'Nanum Gothic', sans-serif; font-size: 10.5px; color: #111111; letter-spacing:0px;}
a.t10_g:link {font-size: 10.5px; color:#111111; text-decoration:none}
a.t10_g:visited {font-size: 10.5px; color:#111111; text-decoration:none}
a.t10_g:hover {font-size: 10.5px; color:#111111; text-decoration: underline}
a.t10_g:active {font-size: 10.5px; Color:#111111; text-decoration: none}

.type12_5 {font-family: arial; font-size: 11px; color: #555555; letter-spacing:-1px;}
a.type12_5:link {font-size: 11px; color:#555555; text-decoration:none}
a.type12_5:visited {font-size: 11px; color:#555555; text-decoration:none}
a.type12_5:hover {font-size: 11px; color:#d8941e; text-decoration: underline}
a.type12_5:active {font-size: 11px; Color:#555555; text-decoration: none}






/* side menu----------------------*/
#floater {
	position:absolute;
	visibility: visible;
} 
